/*Don't accidentaly remove it again*/
* > h1,
* > h2,
* > h3,
* > p{
    color:white;
}
body{
    background-color: green;
}
h2{
    font-size: 3rem;
    text-decoration: underline;
}
body section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
