<<<<<<< HEAD
<<<<<<< HEAD
=======
body{
<<<<<<< HEAD
<<<<<<< HEAD
    background-color:black;
}
>>>>>>> parent of 966797d (added background color green)
=======
    background-color:green;
}
>>>>>>> parent of 87ec9c8 (added background color blue)
=======
    background-color:green;
}
>>>>>>> parent of 87ec9c8 (added background color blue)
=======
body{
    background-color:blue;
}
>>>>>>> parent of 30b570e (No colors)
